# Compiled object files
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executable files
*.exe
*.out
*.app
*.elf

# CMake files
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Autotools files
/aclocal.m4
/autom4te.cache
/compile
/config.guess
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/ltmain.sh
/missing
/Makefile.in

# Visual Studio files
*.vcxproj*
*.sln
*.user
*.filters

# MacOS
.DS_Store

# Editor files
*~
*.swp
*.swo
.idea/
.vscode/
.github/
*.bak
